{% extends "base.html" %} {% block title %}{% if proveedor %}Editar Proveedor
{% else %}Nuevo Proveedor{% endif %} - Hotel ABBA{% endblock %} {% block content %}
<div class="container mt-4">
  <h2 class="mb-4">
    {% if proveedor %}Editar Proveedor{% else %}Agregar Nuevo Proveedor{% endif %}
  </h2>
  <form method="post">
    {% csrf_token %} {{ formulario_proveedores.as_p}}
    <div class="mt-4">
      <button type="submit" class="btn btn-primary">
        {% if proveedor %}Guardar Cambios{% else %}Guardar Proveedor{% endif %}
      </button>
      <a href="{% url 'listado_proveedores' %}" class="btn btn-secondary"
        >Volver</a
      >
    </div>
  </form>
</div>
{% endblock %}
