{% extends "base.html" %}

{% block title %}Agregar Item - Hotel ABBA{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Agregar Nuevo Producto</h2>
    <form method="post">
        {% csrf_token %}
        {{ formulario_productos.as_p}}
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Guardar Categoría</button>
            <a href="{% url 'agregar_productos' %}" class="btn btn-secondary">Volver</a>

        </div>
    </form>
</div>
{% endblock %}