{% extends "base.html" %}
{% block title %}Crear/Editar Producto - Hotel ABBA{% endblock %}
{% block content %}
<div class="main-content">
  <h1>Ver Proveedores</h1>

  <div class="container mt-4">
    <h2>Inventario</h2>
    
    <div class="mb-3">
        <a href={% url "agregar_proveedores" %} class="btn btn-primary">Agregar Item</a>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Direccion</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                {% for prov  in Proveedor  %}
                <tr>
               <td>{{prov.nombre}}</td>
               <td>{{prov.telefono}}</td>
               <td>{{prov.email}}</td>
                <td>{{prov.direccion}}</td>
                <td>{{prov.descripcion}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
