{% extends "base.html" %}
{% block title %}Crear/Editar Producto - Hotel ABBA{% endblock %}
{% block content %}
<div class="main-content">
  <h1>Crear / Editar Producto</h1>

  <div class="container mt-4">
    <h2>Inventario</h2>
    
    <div class="mb-3">
        <a href={% url "agregar_productos" %} class="btn btn-primary">Agregar Item</a>
        <a href= class="btn btn-info">Registrar Movimiento</a>
        <a href= class="btn btn-success">
            <i class="fas fa-file-excel"></i> Exportar Excel
        </a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Unidad</th>
                    <th>Precio</th>
                    <th>Umbral</th>
                    <th>Stock</th>
                    <th>Ubicacion </th>
                    <th>Categoria</th>
                    <th>Proveedores</th>
                </tr>
            </thead>
                    <tbody>
              {% for prod  in Productos  %}
                  <tr class="{% if prod.stock < prod.umbral %}table-danger{% endif %}">
                    <td>{{prod.nombre}}</td>
                    <td>{{prod.unidad}}</td>
                    <td>{{prod.precio}}</td>
                    <td>{{prod.umbral}}</td>
                    <td>{{prod.stock}}</td>
                    <td>{{prod.ubicacion}}</td>
                    <td>{{prod.categoria}}</td>
                    <td>
                        {% for prov in prod.proveedores.all %}
                            {{ prov.nombre }} {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>

                {% endfor %}
                </tr>
            </tbody>
        </table>

</div>
{% endblock %}
