{% extends "base.html" %}
{% block title %}Crear/Editar Usuario - Hotel ABBA{% endblock %}
{% block content %}
<div class="main-content">
  <h1>Crear / Editar Usuario</h1>

  <div class="container mt-4">
    <h2>Usuarios</h2>
    
    <div class="mb-3">
        <a href={% url "registrar" %} class="btn btn-primary">Agregar Usuario</a>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre de Usuario</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                <td>{{usuario.nombre}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}